<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htkj.cfdScenic.app.dao.UserAddressDao">

	<select id="getUserAdderssByUserId" parameterType="long" resultType="map">
		select 
			id,
			user_id,
			user_name,
			telphone,
			place_address,
			detail_address,
			postcode
		from 
			user_address
		where user_id = #{userId} AND is_default = 1 order by createtime limit 1
	</select>
	
	<select id="selectByUser" parameterType="long" resultType="INTEGER">
		select count(1) from user_address where user_id = #{userId}
	</select>
	
	<insert id="userAddress" parameterType="com.htkj.cfdScenic.app.model.UserAddress">
		insert into user_address 
		(id, user_id, 
		user_name,telphone,
		place_address,detail_address,
		postcode,is_default,
		createtime,state) 
		values 
		(#{id,jdbcType=BIGINT},#{userId,jdbcType=BIGINT},
		#{userName,jdbcType=VARCHAR},#{telphone,jdbcType=VARCHAR},
		#{placeAddress,jdbcType=VARCHAR},#{detailAddress,jdbcType=VARCHAR},
		#{postcode,jdbcType=INTEGER},#{isDefault,jdbcType=INTEGER},
		now(),#{state,jdbcType=INTEGER})
	</insert>
	
	
	<select id="selectById" parameterType="long" resultType="com.htkj.cfdScenic.app.model.UserAddress">
		select id,
			user_id as userId,
			user_name as userName,
			telphone,
			place_address as placeAddress,
			detail_address as detailAddress,
			postcode from user_address where id = #{id}
	</select>
	
	
	<update id="updateMessage" parameterType="com.htkj.cfdScenic.app.model.UserAddress">	
  		UPDATE user_address set user_name = #{userName},telphone=#{telphone},place_address=#{placeAddress},detail_address=#{detailAddress},postcode=#{postcode} where id=#{id}
  </update>
	
	<update id="editAllDefault" parameterType="long">	
  		UPDATE user_address set is_default = 0 where user_id=#{userId}
  </update>
	
	<update id="updateDefault" parameterType="long">	
  		UPDATE user_address set is_default = 1 where id=#{id}
	</update>
	
	<update id="deleteAddress" parameterType="long">	
  		UPDATE user_address set state = 1 where id=#{id}
	</update>
	
	<select id="addressList" parameterType="long" resultType="map">
		select 
			id as addressId,
			user_id,
			user_name,
			telphone,
			place_address,
		    detail_address,
			postcode,
			is_default,
			DATE_FORMAT(createtime,'%Y-%c-%d %h:%m:%s') as createtime 
		from 
			user_address
		where user_id = #{userId} AND state = 0 order by createtime
	</select>
	
	<select id="selectDefaultAddress" parameterType="long" resultType="map">
		select 
			id,
			user_id,
			user_name,
			telphone,
			place_address,
			detail_address,
			postcode
		from 
			user_address
		where user_id = #{userId} AND state = 0 and is_default=1  order by createtime limit 1
	</select>
	<delete id="deleteAddressById" parameterType="long">
		delete from user_address where id = #{id}	
	</delete>
	<update id="updateAddressById" parameterType="long">
		update user_address set state = 1 where id = #{id}
	</update>
</mapper>