<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="com.htrj.base.dao.BaseRoleDao">
	   <select id="getBaseRoleByParam" resultType="BaseRole">
	   	select 
	   		b.brid, 
	   		b.brname, 
	   		b.remark, 
	   		b.optid, 
	   		b.optname, 
	   		b.currtime, 
	   		b.sort
  		from 
  			baserole b
  		<where>
  			<if test="brName">AND b.brName=#{brName,jdbcType=VARCHAR}</if>
  		</where>
	   </select>
	   
	   <select id="pageBaseRoleByParam" resultType="BaseRole">
	   	select 
	   		b.brid, 
	   		b.brname, 
	   		b.remark, 
	   		b.optid, 
	   		b.optname, 
	   		b.currtime, 
	   		b.sort
  		from 
  			baserole b
  		<where>
  			<if test="brName">AND b.brName=#{brName,jdbcType=VARCHAR}</if>
  		</where>
	   </select>
	   
	   <select id="pageBaseRoleByParam_count" resultType="java.lang.Integer" parameterType="map" >
	   	select 
	   		count(1)
  		from 
  			baserole b
  		<where>
  			<if test="brName">AND b.brName=#{brName,jdbcType=VARCHAR}</if>
  		</where>
	   </select>
	   
	   <insert id="addBaseRole" parameterType="BaseRole">
	   	insert into 
	   		baserole(
	   			brid,
	   			brname,
	   			remark,
	   			optid,
	   			optname,
	   			currtime,
	   			sort
	   		) values(
	   			#{brId,jdbcType=NUMERIC},
	   			#{brName,jdbcType=VARCHAR},
	   			#{remark,jdbcType=VARCHAR},
	   			#{optId,jdbcType=NUMERIC},
	   			#{optName,jdbcType=VARCHAR},
	   			#{currTime,jdbcType=TIMESTAMP},
	   			#{sort,jdbcType=NUMERIC}
	   		)
	   </insert>
	   
	   <update id="upBaseRoleById" parameterType="java.lang.Long">
	   	update 
	   		baserole b 
	   	<set>
	   		<if test="@Ognl@isNotBlank(brName)">b.brname = #{brName,jdbcType=VARCHAR},</if>
	   		<if test="@Ognl@isNotBlank(remark)">b.remark = #{remark,jdbcType=VARCHAR},</if>
	   		<if test="@Ognl@isNotBlank(sort)">b.sort = #{sort,jdbcType=NUMERIC},</if>
	   	</set>
	   	where 
	   		b.brid =#{brId}
	   </update>
	   
	   <delete id="delBaseRoleById" parameterType="java.lang.Long">
	   	delete 
	   		baserole
	   	where
	   		brid = #{brId}
	   </delete>
	   
   </mapper>