<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL MAP Config 3.2//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="30000" />
      <setting name="callSettersOnNulls" value="true"/>
	</settings>


	<typeAliases>
		<!-- 系统基础模块 -->
<!-- 		<package name="com.opensource.base.model" /> -->
		<package name="com.htrj.base.model" />
		<!-- 	景区表 -->
	</typeAliases>	
	
	<plugins>
		<!-- 指定数据库分页方言Dialect, 其它方言:OracleDialect,SQLServerDialect,SybaseDialect,DB2Dialect,PostgreSQLDialect,MySQLDialect,DerbyDialect,HSQLDialect -->
		<plugin interceptor="com.htrj.common.mybatis3.plugin.OffsetLimitInterceptor">
			<property name="dialectClass"
				value="com.htrj.common.mybatis3.dialect.MySQLDialect" />
<!-- 				value="com.opensource.common.mybatis3.dialect.MySQLDialect" /> -->
		</plugin>
		
	</plugins>
</configuration>
