<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htkj.cfdScenic.app.dao.ShopCartDao">
	<select id="getShopCartByUserId" parameterType="long" resultType="map">
		SELECT 
			sc.id as shopCartId,
			sg.id as shopGoodsId,
			su.id as shopInformationId,			
			sc.user_id,
			sc.number,
			sg.goods_name,
			sg.goods_describe,
			sg.price,
			sg.new_price,
			sg.stock,
			su.head_img as shopInformationImg,
			sg.describe_img as shopGoodsImg,
			su.name
		FROM 
			shop_cart sc LEFT JOIN shop_goods sg ON sc.shop_id = sg.id AND sg.state = 0 LEFT JOIN shop_information su ON sg.shop_information_id = su.id	
		WHERE
			sc.user_id = #{userId} AND sc.state = 0 AND sg.state = 0
	</select>
	
	<select id="getShopCartShopGroupByUserId" parameterType="long" resultType="map">
		select 
			sc.id as shopCartId,
			sc.shop_information_id as shopInformationId,
			su.head_img as shopInformationImg,
			sc.user_id as userId,
			su.`name`
		from 
			shop_cart sc,
			shop_information su 
		where 
			sc.shop_information_id = su.id 
		and sc.user_id=#{userId} 
		and sc.state = 0
		group by 
			sc.shop_information_id,
			su.head_img,
			sc.user_id,
			su.`name`
	</select>
	
	<select id="getShopCartGoodsByUserId" parameterType="map" resultType="map">
		select 
			sc.id as shopCartId,
			sc.user_id, 
			sc.number,
			sg.id as shopGoodsId,
			sg.goods_name,
			sg.goods_describe, 
			sg.price, 
			sg.new_price, 
			sg.stock,
			sg.describe_img as shopGoodsImg,
			sg.deliver_fee as deliverFee,
			sg.shop_information_id as shopInformationId 
		from 
			shop_cart sc,
			shop_goods sg 
		where 
			sc.shop_id = sg.id 
		and sc.shop_information_id = #{shopInformationId}
		and sc.user_id= #{userId}
		and sc.state = 0 
		and sg.state = 0
	</select>
	
	
	<delete id="deleteShopCartById" parameterType="string">
		delete from shop_cart where id in (${id})
	</delete>
	<insert id="saveShopCart" parameterType="com.htkj.cfdScenic.app.model.ShopCart">
		insert into shop_cart(
				id,
				user_id,
				shop_information_id,
				number,
				state,
				createtime,
				shop_id
		)values(
				#{id,jdbcType=NUMERIC},
				#{userId,jdbcType=NUMERIC},
				#{shopInformationId,jdbcType=NUMERIC},
				#{number},
				#{state},
				NOW(),
				#{shopId}
		)
	</insert>
	<update id="updateShopCart" parameterType="map">
		update shop_cart set number = #{number} where id = #{id}
	</update>
	<select id="getGoodsIdById" parameterType="long" resultType="long">
		select
			shop_id as goodsId
		from 
			shop_cart
		where id = #{id}
	</select>
	<select id="getNumber" parameterType="long" resultType="integer">
		select
			count(distinct(shop_information_id)) as count
		from
			shop_cart
		where 
			user_id = #{userId} and state = 0
	</select>
</mapper>